$primary: #7DE0E7;
$secondary: #3B4A59;
$text: #6D6D6D;
$text2: #757575;
$white: #ffffff;
$disactive-nav: #939393;
$active-nav: #404040;
$body-bg: #EEEEEE;


$gradient: linear-gradient(180deg, #7EDFE8 0%, #B5CDFE 100%);
$shadow: -10px -10px 15px rgba(255, 255, 255, 0.5), 5px 5px 10px rgba(88, 88, 88, 0.16), 10px 10px 10px rgba(0, 0, 0, 0.05);
$btn-shadow: 1px 2px 6px rgba(0, 0, 0, 0.25);
