footer.footer{
	background-color: $secondary;
	padding: 20px 0;
	color: $white;
	margin-top: 50px;
	p{
		display: block;
		text-align: center;
		font-size: 13px;
		font-family: "Roboto-Light";
		margin: 0;
	}
}
