.hero {
	padding-top: 100px;
	padding-bottom: 250px;
	background: url("../../assets/img/bg.svg") no-repeat bottom center;
	background-size: cover;

	.content {
		h1 {
			margin-bottom: 35px;
		}

		p {
			color: $text2;
			font-size: 17px;
			line-height: 20px;
			letter-spacing: 0.05em;
			margin-bottom: 53px;
		}

		a {
			background-color: $primary;
			font-family: "Futura-Bold", sans-serif;
			font-style: normal;
			font-weight: bold;
			color: $white;
			box-shadow: $btn-shadow;
			padding: 13px 23px;
			border-radius: 50px;
		}
	}

	@include for-size(tablet-landscape-up) {
		padding-top: 0px;
		padding-bottom: 200px;

		.row {
			&>div:first-child {
				order: 2;

				h1 {
					margin-bottom: 25px;
					font-size: 25px;
				}
			}

			&>div:last-child {
				order: 1;
			}
		}
	}
}
